# Frontend
ecommerce-admin/node_modules/
ecommerce-admin/.env
ecommerce-admin/build/
ecommerce-admin/.env.local

# Backend
EcommerceApi/bin/
EcommerceApi/obj/
EcommerceApi/Migrations/

# OS
.DS_Store
Thumbs.db